@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color:cornflowerblue;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100vh;
  color: wheat;
}

.users-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: royalblue;
  width: 20rem;
  padding-bottom: 1rem;
  margin: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 0 currentColor, 0 6px 15px 1px rgba(29, 82, 106, 0.51);
}

.details-container-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 0 currentColor, 0 6px 15px 1px rgba(29, 82, 106, 0.51);
  }

.user {
  margin: 0rem;
  padding: 0.25rem;
  border-radius: 10px;
}

.nav-link,
.nav-link:visited {
  text-decoration: none;
  color: wheat;
}

td,
th {
  padding-right: 0.5rem;
  font-weight: 500;
}

th {

  font-weight: 700;
}

td:first-child {
  text-align: right;
}